.section_cart{
    width: 100%;
    min-height:800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.container_basket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    background-color: $color_five;
    width:80%;
}
.title_basket {
  font-size: 26px;
}
.total{
  background-color: white;
  border-radius: 20px;
  padding:10px;
  border: solid 1px $color_four;
}

